{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Register Form</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Register Form</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <h1>Register</h1>

                                {{ form_errors(registrationForm) }}

                                {{ form_start(registrationForm) }}
                                    {{ form_row(registrationForm.email) }}
                                    {{ form_row(registrationForm.plainPassword, {
                                        label: 'Password'
                                    }) }}
                                    {{ form_row(registrationForm.agreeTerms) }}

                                    {{ form_row(registrationForm.register)}}
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>
                </main>
            </div>
        </div>

{% endblock %}
